/* Layout Variables */
/* Media Queries */
/* Colors */
/* Font Weights */
/* Wireframing */
*:not(body):not(html) {
  box-sizing: border-box; }

.hero {
  height: 600px;
  background-color: #666; }

.preview-section {
  height: 300px;
  background-color: #bbb; }

/* End Wireframing */
/* Base Elements */
body {
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center; }

/* Lists */
ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.btn-cta {
  margin: 5px 0;
  font-size: 1.2em;
  border-radius: 25px;
  padding: 10px;
  border-style: none;
  background-color: #FF0025; }

.container {
  text-align: center; }

.btn-signup {
  font-size: 1.2em;
  border-radius: 25px;
  padding: 10px;
  border-style: none;
  background-color: #FF0D2F; }

footer {
  font-size: 12px;
  font-family: 'LatoWebBlack'; }

.brand {
  color: #2F2F2F; }

.nav li {
  color: #fff;
  font-family: "LatoWebLight"; }

.cta h2 {
  color: #2F2F2F; }

.brand {
  font-family: "LatoWebBlack"; }

.opacity h2 {
  font-family: "LatoWebBlack"; }

.btn-cta {
  font-family: "LatoWebBlack"; }

.info-item p {
  font-family: "LatoWebLight";
  font-size: 20px; }

.preview-item {
  font-family: "LatoWebBlack"; }

/* lato font */
/* Webfont: Lato-Black */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("fonts/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Black.woff2") format("woff2"), url("fonts/Lato-Black.woff") format("woff"), url("fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-BlackItalic */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("fonts/Lato-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BlackItalic.woff2") format("woff2"), url("fonts/Lato-BlackItalic.woff") format("woff"), url("fonts/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWebBold';
  src: url("fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'LatoWebBold';
  src: url("fonts/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BoldItalic.woff2") format("woff2"), url("fonts/Lato-BoldItalic.woff") format("woff"), url("fonts/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Hairline */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("fonts/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Hairline.woff2") format("woff2"), url("fonts/Lato-Hairline.woff") format("woff"), url("fonts/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-HairlineItalic */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("fonts/Lato-HairlineItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-HairlineItalic.woff2") format("woff2"), url("fonts/Lato-HairlineItalic.woff") format("woff"), url("fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("fonts/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Heavy.woff2") format("woff2"), url("fonts/Lato-Heavy.woff") format("woff"), url("fonts/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-HeavyItalic */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("fonts/Lato-HeavyItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-HeavyItalic.woff2") format("woff2"), url("fonts/Lato-HeavyItalic.woff") format("woff"), url("fonts/Lato-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Italic */
@font-face {
  font-family: 'LatoWeb';
  src: url("fonts/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Italic.woff2") format("woff2"), url("fonts/Lato-Italic.woff") format("woff"), url("fonts/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoWebLight';
  src: url("fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-LightItalic */
@font-face {
  font-family: 'LatoWebLight';
  src: url("fonts/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-LightItalic.woff2") format("woff2"), url("fonts/Lato-LightItalic.woff") format("woff"), url("fonts/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Medium */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("fonts/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Medium.woff2") format("woff2"), url("fonts/Lato-Medium.woff") format("woff"), url("fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-MediumItalic */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("fonts/Lato-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-MediumItalic.woff2") format("woff2"), url("fonts/Lato-MediumItalic.woff") format("woff"), url("fonts/Lato-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url("fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-SemiboldItalic */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("fonts/Lato-SemiboldItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-SemiboldItalic.woff2") format("woff2"), url("fonts/Lato-SemiboldItalic.woff") format("woff"), url("fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Thin */
@font-face {
  font-family: 'LatoWebThin';
  src: url("fonts/Lato-Thin.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Thin.woff2") format("woff2"), url("fonts/Lato-Thin.woff") format("woff"), url("fonts/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-ThinItalic */
@font-face {
  font-family: 'LatoWebThin';
  src: url("fonts/Lato-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-ThinItalic.woff2") format("woff2"), url("fonts/Lato-ThinItalic.woff") format("woff"), url("fonts/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: sans-serif; }

/* Remove the outer glow in Webkit */
input:focus {
  outline: 0; }

/* End form reset*/
form {
  width: 90%;
  margin: 3% auto; }
  form label {
    width: 100%;
    font-weight: bold;
    font-size: .75em;
    text-transform: capitalize;
    margin: 10px 0; }
  form input {
    width: 100%;
    float: right;
    margin-bottom: 10px;
    border: 2px solid lightgrey; }
  form button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
    background-color: #FF0D2F; }
  @media screen and (min-width: 620px) {
    form {
      width: 60%; }
      form label {
        width: 20%;
        padding-right: 10px;
        text-align: right; }
      form input {
        width: 80%; }
      form button {
        width: 40%; } }

.info-section::after {
  content: "";
  display: table;
  clear: both; }

.info-item {
  padding: 20px; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto; }
  .circle img {
    width: 100%; }

@media screen and (min-width: 620px) {
  .info-item {
    width: 33.333333%;
    float: left; } }
.preview-section {
  padding: 20px; }

.container-full {
  width: 100%; }

.container {
  width: 95%;
  margin: 0 auto; }
  @media screen and (min-width: 620px) {
    .container {
      width: 90%; } }
  @media screen and (min-width: 970px) {
    .container {
      width: 80%; } }

footer {
  width: 100%;
  text-align: center;
  padding: 20px; }

/* Nav */
.hero {
  height: 300px; }
  @media screen and (min-width: 970px) {
    .hero {
      height: 600px; } }

.nav {
  overflow: auto;
  padding: 10px; }
  .nav .brand {
    float: left; }
  .nav ul {
    float: right; }
    .nav ul::after {
      content: "";
      display: table;
      clear: both; }
  .nav li {
    padding: 7px; }
  .nav li:not(.menu-toggle) {
    display: none; }
    @media screen and (min-width: 970px) {
      .nav li:not(.menu-toggle) {
        display: block;
        float: left; } }
  @media screen and (min-width: 970px) {
    .nav .menu-toggle {
      display: none; } }

@media screen and (min-width: 970px) {
  .cta h2 {
    position: absolute;
    top: 18%;
    left: 7%; }
  .cta button {
    position: absolute;
    top: 68%;
    right: 10%;
    width: 150px;
    background-color: #FF0025;
    color: #2F2F2F;
    font-weight: bold; } }
.cta h2 {
  margin: 10px 0; }

/* Hero */
.hero-signup {
  background-image: url("../img/abstract-triangles.jpg");
  background-size: cover;
  height: 400px; }
  .hero-signup h1, .hero-signup .nav {
    color: #fff; }
  .hero-signup h2 {
    margin: 150px 0;
    color: #fff;
    font-size: 2em; }

.hero {
  background-image: url("../img/header02.jpg");
  background-size: cover;
  background-position: center; }

.opacity h2 {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  opacity: .75; }

/*# sourceMappingURL=styles.css.map */
