/* Layout Variables */
/* Media Queries */
/* Colors */
/* Wireframing */
*:not(body):not(html) {
  box-sizing: border-box; }

.hero {
<<<<<<< HEAD
  height: 400px;
=======
  height: 600px;
>>>>>>> 16fd8c93a55c40c60a1141dafcf8d6e54c082e05
  background-color: #666; }

.preview-section {
  height: 300px;
  background-color: #bbb; }

/* End Wireframing */
/* Base Elements */
body {
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center; }

/* Lists */
ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.btn-cta {
  font-size: 1.2em;
<<<<<<< HEAD
  border-radius: 3px;
  border-style: none;
  background-color: pink;
  height: 200px;
  margin: 5px 20%; }

.btn-signup {
  font-size: 1.2em;
  border-radius: 3px;
  border-style: none;
  background-color: #FF0D2F; }
=======
  border-radius: 25px;
  padding: 10px;
  border-style: none;
  background-color: #FF0025; }

.container {
  text-align: center; }
>>>>>>> 16fd8c93a55c40c60a1141dafcf8d6e54c082e05

footer {
  font-size: 12px; }

<<<<<<< HEAD
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: sans-serif; }

/* Remove the outer glow in Webkit */
input:focus {
  outline: 0; }

/* End form reset*/
form {
  width: 90%;
  margin: 0 auto; }
  form label {
    width: 100%;
    font-weight: bold;
    font-size: .75em;
    text-transform: capitalize;
    margin: 10px 0; }
  form input {
    width: 100%;
    float: right;
    margin-bottom: 10px;
    border: 2px solid lightgrey; }
  form button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 3px;
    border-style: none;
    background-color: #FF0D2F; }
=======
.brand {
  color: #2F2F2F; }

.nav li {
  color: #fff; }

.cta h2 {
  color: #2F2F2F; }
>>>>>>> 16fd8c93a55c40c60a1141dafcf8d6e54c082e05

.info-section::after {
  content: "";
  display: table;
  clear: both; }

.info-item {
  padding: 20px; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
<<<<<<< HEAD
  margin: 0 auto;
  background-color: mistyrose; }
=======
  margin: 0 auto; }
  .circle img {
    width: 100%; }
>>>>>>> 16fd8c93a55c40c60a1141dafcf8d6e54c082e05

@media screen and (min-width: 620px) {
  .info-item {
    width: 33.333333%;
    float: left; } }
.preview-section {
  padding: 20px; }

.container-full {
  width: 100%; }

.container {
  width: 95%;
  margin: 0 auto; }
  @media screen and (min-width: 620px) {
    .container {
      width: 90%; } }
  @media screen and (min-width: 970px) {
    .container {
      width: 80%; } }

footer {
  width: 100%;
  text-align: center;
  padding: 20px; }

/* Nav */
.nav {
  overflow: auto; }
  .nav .brand {
    float: left; }
  .nav ul {
    float: right; }
    .nav ul::after {
      content: "";
      display: table;
      clear: both; }
  .nav li {
    padding: 7px; }
  .nav li:not(.menu-toggle) {
    display: none; }
    @media screen and (min-width: 970px) {
      .nav li:not(.menu-toggle) {
        display: block;
        float: left; } }
  @media screen and (min-width: 970px) {
    .nav .menu-toggle {
      display: none; } }

@media screen and (min-width: 970px) {
  .cta h2 {
    position: absolute;
    top: 10%;
    left: 10%; }
  .cta button {
    position: absolute;
<<<<<<< HEAD
    top: 40%;
    right: -10%;
    width: 400px; } }
.cta h2 {
  margin: 10px 0; }

/* Hero */
.hero-signup {
  background-image: url("../img/abstract-triangles.jpg");
  background-size: cover;
  height: 400px; }
  .hero-signup h1, .hero-signup .nav {
    color: #fff; }
  .hero-signup h2 {
    margin: 150px 0;
    color: #fff;
    font-size: 2em; }
=======
    top: 68%;
    right: 10%;
    width: 150px;
    background-color: #FF0025;
    color: #2F2F2F;
    font-weight: bold; } }
.cta h2 {
  margin: 10px 0;
  position: absolute;
  top: 18%;
  left: 7%; }

.hero {
  background-image: url("../img/header02.jpg");
  background-size: cover;
  background-position: center; }

.opacity h2 {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  opacity: .75; }
>>>>>>> 16fd8c93a55c40c60a1141dafcf8d6e54c082e05

/*# sourceMappingURL=styles.css.map */
