/* Layout Variables */
/* Media Queries */
/* Colors */
/* Font Weights */
/* Wireframing */
*:not(body):not(html) {
  box-sizing: border-box; }

.hero {
  height: 600px;
  background-color: #666; }

/* End Wireframing */
/* Base Elements */
body {
  font-family: sans-serif;
  margin: 0;
  position: relative; }

h1, h2, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center; }

/* Lists */
ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.btn-cta {
  margin: 5px 0;
  font-size: 1.2em;
  border-radius: 25px;
  padding: 10px;
  border-style: none;
  background-color: #FF0025;
  transition: all 0.3s ease-in-out; }
  .btn-cta:hover {
    transform: scale(1.4); }

.container {
  text-align: center; }

.btn-signup {
  font-size: 1.2em;
  border-radius: 25px;
  padding: 10px;
  border-style: none;
  background-color: #FF0D2F; }

.btn-message {
  font-size: 1.2em;
  border-radius: 25px;
  padding: 10px;
  border-style: none;
  background-color: #FF0D2F;
  display: block;
  width: 100px; }

footer {
  font-size: 12px;
  font-family: 'LatoWebBlack'; }

.brand {
  color: #2F2F2F; }

.nav li {
  color: #fff;
  font-family: "LatoWebLight"; }

.nav a {
  color: #fff;
  font-family: "LatoWebLight"; }

.cta h2 {
  color: #2F2F2F; }

.brand {
  font-family: "LatoWebBlack"; }

.opacity h2 {
  font-family: "LatoWebBlack"; }

.btn-cta {
  font-family: "LatoWebBlack"; }

.info-item p {
  font-family: "LatoWebLight";
  font-size: 20px; }

.preview-item {
  font-family: "LatoWebBlack"; }

/* lato font */
/* Webfont: Lato-Black */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("fonts/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Black.woff2") format("woff2"), url("fonts/Lato-Black.woff") format("woff"), url("fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-BlackItalic */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("fonts/Lato-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BlackItalic.woff2") format("woff2"), url("fonts/Lato-BlackItalic.woff") format("woff"), url("fonts/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWebBold';
  src: url("fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'LatoWebBold';
  src: url("fonts/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BoldItalic.woff2") format("woff2"), url("fonts/Lato-BoldItalic.woff") format("woff"), url("fonts/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Hairline */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("fonts/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Hairline.woff2") format("woff2"), url("fonts/Lato-Hairline.woff") format("woff"), url("fonts/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-HairlineItalic */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("fonts/Lato-HairlineItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-HairlineItalic.woff2") format("woff2"), url("fonts/Lato-HairlineItalic.woff") format("woff"), url("fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("fonts/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Heavy.woff2") format("woff2"), url("fonts/Lato-Heavy.woff") format("woff"), url("fonts/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-HeavyItalic */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("fonts/Lato-HeavyItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-HeavyItalic.woff2") format("woff2"), url("fonts/Lato-HeavyItalic.woff") format("woff"), url("fonts/Lato-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Italic */
@font-face {
  font-family: 'LatoWeb';
  src: url("fonts/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Italic.woff2") format("woff2"), url("fonts/Lato-Italic.woff") format("woff"), url("fonts/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoWebLight';
  src: url("fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-LightItalic */
@font-face {
  font-family: 'LatoWebLight';
  src: url("fonts/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-LightItalic.woff2") format("woff2"), url("fonts/Lato-LightItalic.woff") format("woff"), url("fonts/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Medium */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("fonts/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Medium.woff2") format("woff2"), url("fonts/Lato-Medium.woff") format("woff"), url("fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-MediumItalic */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("fonts/Lato-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-MediumItalic.woff2") format("woff2"), url("fonts/Lato-MediumItalic.woff") format("woff"), url("fonts/Lato-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url("fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-SemiboldItalic */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("fonts/Lato-SemiboldItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-SemiboldItalic.woff2") format("woff2"), url("fonts/Lato-SemiboldItalic.woff") format("woff"), url("fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Thin */
@font-face {
  font-family: 'LatoWebThin';
  src: url("fonts/Lato-Thin.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Thin.woff2") format("woff2"), url("fonts/Lato-Thin.woff") format("woff"), url("fonts/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-ThinItalic */
@font-face {
  font-family: 'LatoWebThin';
  src: url("fonts/Lato-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-ThinItalic.woff2") format("woff2"), url("fonts/Lato-ThinItalic.woff") format("woff"), url("fonts/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: sans-serif; }

/* Remove the outer glow in Webkit */
input:focus, textarea:focus {
  outline: 0; }

/* End form reset*/
form {
  width: 90%;
  margin: 3% auto; }
  form label {
    width: 100%;
    font-weight: bold;
    font-size: .75em;
    text-transform: capitalize;
    margin: 10px 0; }
  form input {
    width: 100%;
    float: right;
    margin-bottom: 10px;
    border: 2px solid lightgrey; }
  form button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
    background-color: #FF0D2F; }
  @media screen and (min-width: 620px) {
    form {
      width: 40%; }
      form label {
        width: 100%;
        padding-right: 10px;
        text-align: center;
        font-size: 16px; }
      form input {
        width: 100%;
        margin: 0 auto;
        height: 30px;
        border-radius: 5px; }
      form button {
        width: 40%;
        margin-top: 60px; } }

/* Modals */
.message-modal {
  display: none;
  background-color: #fff;
  border: 1px solid grey;
  position: fixed;
  top: 10%;
  left: 5%;
  right: 5%;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
  .message-modal form {
    width: 90%; }
  .message-modal textarea {
    height: 200px;
    border: 2px solid lightgrey;
    width: 100%;
    margin: 10px 0; }
  .message-modal button {
    width: 60%;
    margin: 20px auto 0 auto; }
  .message-modal select {
    border: 1px solid #2F2F2F;
    width: 100%; }
  .message-modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px; }
  @media screen and (min-width: 620px) {
    .message-modal {
      left: 20%;
      right: 20%; } }

.modal-transparency {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.user-posts {
  width: 100%;
  background-color: #fff; }
  .user-posts li {
    border: 3px solid #2F2F2F;
    border-radius: 5px;
    margin: 10px 0;
    padding-bottom: 10px; }
    .user-posts li .post-useremail {
      background-color: #2F2F2F;
      color: #fff;
      padding: 5px 0; }
    .user-posts li .post-content {
      padding: 15px; }
  @media screen and (min-width: 620px) {
    .user-posts {
      width: 70%; } }

.info-section::after {
  content: "";
  display: table;
  clear: both; }

.info-item {
  padding: 50px; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto; }
  .circle img {
    width: 100%; }

@media screen and (min-width: 620px) {
  .info-item {
    width: 33.333333%;
    float: left; } }
.post-feed {
  padding: 20px;
  background-color: lightgrey; }
  .post-feed .btn-message {
    margin: 0 auto; }
  .post-feed::after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 970px) {
    .post-feed .posts-column {
      width: 48%;
      float: left; }
    .post-feed .map-column {
      width: 48%;
      float: right; } }

.container-full {
  width: 100%; }

.container {
  width: 95%;
  margin: 0 auto; }
  @media screen and (min-width: 620px) {
    .container {
      width: 90%; } }
  @media screen and (min-width: 970px) {
    .container {
      width: 80%; } }

footer {
  width: 100%;
  text-align: center;
  padding: 50px; }

/* Nav */
@keyframes opacity01 {
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes opacity02 {
  50% {
    opacity: 1; } }
@keyframes opacity03 {
  75% {
    opacity: 1; } }
.header-bg {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  height: 600px;
  z-index: -1; }

.header01 {
  object-fit: cover;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-animation: opacity01 6s ease-in-out infinite;
  -moz-animation: opacity01 6s  ease-in-out infinite;
  animation: opacity01 6s ease-in-out infinite;
  -webkit-animation-delay: -1s;
  /* Chrome, Safari, Opera */
  animation-delay: -1s; }

.header02 {
  opacity: 0;
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-animation: opacity02 10s ease-in-out infinite;
  -moz-animation: opacity02 10s ease-in-out infinite;
  animation: opacity02 10s ease-in-out infinite;
  -webkit-animation-delay: -5s;
  /* Chrome, Safari, Opera */
  animation-delay: -5s; }

.header03 {
  opacity: 0;
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-animation: opacity02 10s ease-in-out infinite;
  -moz-animation: opacity02 10s ease-in-out infinite;
  animation: opacity02 10s ease-in-out infinite;
  -webkit-animation-delay: -9s;
  /* Chrome, Safari, Opera */
  animation-delay: -9s; }

.hero {
  background: #fff;
  opacity: 0.99;
  height: 300px;
  overflow: hidden; }
  @media screen and (min-width: 970px) {
    .hero {
      height: 600px; } }

.nav {
  overflow: auto;
  padding: 10px; }
  .nav .brand {
    float: left; }
  .nav ul {
    float: right; }
    .nav ul::after {
      content: "";
      display: table;
      clear: both; }
  .nav li {
    padding: 7px; }
  .nav li:not(.menu-toggle) {
    display: none; }
    @media screen and (min-width: 970px) {
      .nav li:not(.menu-toggle) {
        display: block;
        float: left; } }
  @media screen and (min-width: 970px) {
    .nav .menu-toggle {
      display: none; } }

.nav-main {
  position: absolute;
  z-index: 1;
  width: 100%; }

@media screen and (min-width: 970px) {
  .cta h2 {
    position: absolute;
    top: 250px;
    left: 7%; }
  .cta button {
    position: absolute;
    top: 450px;
    right: 10%;
    width: 150px;
    background-color: #FF0025;
    color: #2F2F2F;
    font-weight: bold; } }
.cta h2 {
  margin: 10px 0; }

/* Hero */
.hero-min {
  background-image: url("../img/abstract-triangles.jpg");
  background-size: cover;
  height: 200px;
  margin-bottom: 10px; }
  .hero-min h1, .hero-min .nav {
    color: #fff; }
  .hero-min h2 {
    line-height: 50px;
    margin: 25px 0 0 0;
    color: #fff;
    font-size: 1.6em; }
  .hero-min h3 {
    color: #2F2F2F;
    background-color: #fff;
    font-size: .8em;
    max-width: 90%;
    margin: 5px auto;
    padding: 5px;
    border-radius: 25px;
    text-align: center; }
  @media screen and (min-width: 620px) {
    .hero-min {
      height: 300px; }
      .hero-min h2 {
        margin: 50px 0 0 0;
        font-size: 2em; }
      .hero-min h3 {
        max-width: 40%;
        font-size: 1.2em; } }

.opacity h2 {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  opacity: .75; }

.profile-pic {
  width: 300px;
  margin: 0 auto; }
  .profile-pic img {
    width: 100%; }

.about-user {
  width: 95%;
  margin: 0 auto; }
  @media screen and (min-width: 620px) {
    .about-user {
      width: 60%;
      text-align: left; } }

.post-form {
  border: 1px solid lightgrey;
  padding: 10px 20px;
  width: 100%; }
  .post-form label {
    display: block;
    width: 100%;
    text-align: center; }
  .post-form textarea {
    display: block;
    width: 100%;
    height: 150px;
    vertical-align: top;
    word-wrap: break-word;
    border: 2px solid lightgrey; }
  .post-form button {
    margin: 20px auto 0 auto; }
  @media screen and (min-width: 620px) {
    .post-form {
      width: 70%; }
      .post-form textarea {
        display: block;
        width: 100%;
        height: 200px;
        margin: 10px 0;
        vertical-align: top;
        word-wrap: break-word;
        border: 2px solid lightgrey; } }

/*# sourceMappingURL=styles.css.map */
