/* Layout Variables */
$s-margin: 5px;
$m-margin: 10px;
$l-margin: 20px;

/* Media Queries */
$medium-breakpoint: 620px;
$large-breakpoint: 970px;

/* Colors */
$dark-salmon: #FF0D2F;
$avocado: #A1CC00;
$sky-blue: #07FFF6;
$deep-blue: #00387F;
$azure: #0070FF;
$hero-red: #FF0025;
$dark-grey: #2F2F2F;
