/* Layout Variables */
$s-margin: 5px;
$m-margin: 10px;

/* Media Queries */
$medium-breakpoint: 620px;
$large-breakpoint: 970px;

/* Colors */
$dark-salmon: #FF0D2F;
$60avocado: #A1CC00;
$sky-blue: #07FFF6;
$deep-blue: #00387F;
$azure: #0070FF;
