.info-section::after {
  @include clearfix;
}

.info-item {
  padding: 50px;
}

.circle {
  img {
    width: 100%;
  }
  @include circle(100px);
  margin: 0 auto;
}

@media screen and (min-width: $medium-breakpoint) {
  .info-item {
    width: 33.333333%;
    float: left;
  }
}

.post-feed {
  padding: 20px;
  background-color: lightgrey;
  border-radius: 10px;
  .btn-message {
    margin: 0 auto;
  }
  &::after {
    @include clearfix;
  }
  @media screen and (min-width: $large-breakpoint) {
    .posts-column {
      width: 48%;
      float: left;
    }

    .map-column {
      width: 48%;
      float: right;
    }
  }
}
