/* Nav */

@keyframes opacity01 {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity02 {
  50% {
    opacity: 1;
  }
}

@keyframes opacity03 {
  75% {
    opacity: 1;
  }
}

.header-bg {
  //This element serves as a background when animation is not supported
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  height: 300px;
  z-index: -1;
  @media screen and (min-width: $large-breakpoint) {
    height: 600px;
  }
}

.header01 {
  object-fit: cover;
  width: 100%;
  max-height: 600px;
  min-height: 300px;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-animation: opacity01 6s ease-in-out infinite;
  -moz-animation: opacity01 6s  ease-in-out infinite;
  animation: opacity01 6s ease-in-out infinite;
  -webkit-animation-delay: -1s; /* Chrome, Safari, Opera */
  animation-delay: -1s;
  @media screen and (min-width: $large-breakpoint) {
    height: 600px;
  }
}

.header02 {
  opacity: 0;
  object-fit: cover;
  width: 100%;
  max-height: 600px;
  min-height: 300px;
  position: absolute;
  top: 0;
  -webkit-animation: opacity02 10s ease-in-out infinite;
  -moz-animation: opacity02 10s ease-in-out infinite;
  animation: opacity02 10s ease-in-out infinite;
  -webkit-animation-delay: -5s; /* Chrome, Safari, Opera */
  animation-delay: -5s;
  @media screen and (min-width: $large-breakpoint) {
    height: 600px;
  }
}

.header03 {
  opacity: 0;
  object-fit: cover;
  width: 100%;
  max-height: 600px;
  min-height: 300px;
  position: absolute;
  top: 0;
  -webkit-animation: opacity02 10s ease-in-out infinite;
  -moz-animation: opacity02 10s ease-in-out infinite;
  animation: opacity02 10s ease-in-out infinite;
  -webkit-animation-delay: -9s; /* Chrome, Safari, Opera */
  animation-delay: -9s;
  @media screen and (min-width: $large-breakpoint) {
    height: 600px;
  }
}

.hero {
  background: #fff;
  opacity:0.99;
  height: 300px;
  overflow: hidden;
  @media screen and (min-width: $large-breakpoint) {
    height: 600px;
  }
}
//
// .hero {
//   background-image: url("img/header01.jpg");
//   background-size: cover;
//   background-position: center;
//   opacity:0.99;
//   height: 300px;
//   overflow: hidden;
//   @media screen and (min-width: $large-breakpoint) {
//     height: 600px;
//   }
// }

.nav {
  padding: 10px;
  .brand {
    float: left;
    // padding: 10px;
  }
  ul {
    float: right;
    position: absolute;
    top: 45px;
    right: 25px;
    text-align: center;
    @media screen and (min-width: $large-breakpoint) {
      top: 15px;
      float: none;
    }
    &::after {
      @include clearfix;
    }
  }
  li {
    // margin: 0 $m-margin;
    padding: 7px;
  }
  li:not(.menu-toggle) {
    display: none;
    // background-color: $dark-grey;
    @media screen and (min-width: $large-breakpoint) {
      display: block;
      float: left;
    }
  }
  .menu-toggle {
    position: absolute;
    top: -30px;
    right: 5px;
    @media screen and (min-width: $large-breakpoint) {
      display: none;
    }
  }
}

.nav-main {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.cta {
  @media screen and (min-width: $large-breakpoint) {
    h2 {
      position: absolute;
      top: 250px;
      left: 7%;
    }
    button {
      position: absolute;
      top: 450px; //this button's location must be fixed so that it behaves consistently with regards to the header//*
      right: 10%;
      width: 150px;
      background-color: $hero-red;
      color: $dark-grey;
      font-weight: bold;
    }
  }
  h2 {
    margin: $m-margin 0;
  }
}

/* Hero */
.hero-min {
  background-image: url("../img/abstract-triangles.jpg");
  background-size: cover;
  height: 200px;
  margin-bottom: $m-margin;
  h1, .nav {
    color: #fff;
  }
  h2 {
    line-height: 50px;
    margin: 25px 0 0 0;
    color: #fff;
    font-size: 1.6em;
  }
  h3 {
    color: $dark-grey;
    background-color: #fff;
    font-size: .8em;
    max-width: 90%;
    margin: $s-margin auto;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
  }
  @media screen and (min-width: $medium-breakpoint) {
    height: 300px;
    h2 {
      margin: 50px 0 0 0;
      font-size: 2em;
    }
    h3 {
      max-width: 40%;
      font-size: 1.2em;
    }
    ul {
      height: 50px;
    }
  }
}

.opacity h2 {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  opacity: .75;
}
