.profile-pic {
  width: 300px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.about-user {
  width: 95%;
  margin: 0 auto;
  @media screen and (min-width: $medium-breakpoint) {
    width: 60%;
    text-align: left;
  }
}

.post-form {
  border: 1px solid lightgrey;
  padding: 10px 20px;
  width: 100%;
  label {
    display: block;
    width: 100%;
    text-align: center;
  }
  textarea {
    display: block;
    width: 100%;
    height: 150px;
    vertical-align: top;
    word-wrap: break-word;
    border: 2px solid lightgrey;
  }
  button {
    margin: 20px auto 0 auto;
  }
  @media screen and (min-width: $medium-breakpoint) {
    width: 70%;
    textarea {
      display: block;
      width: 100%;
      height: 200px;
      margin: $m-margin 0;
      vertical-align: top;
      word-wrap: break-word;
      border: 2px solid lightgrey;
    }
  }
}
