
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:sans-serif;
}

/* Remove the outer glow in Webkit */
input:focus, textarea:focus
{
	outline:0;
}
/* End form reset*/
form {
  width: 90%;
  margin: 3% auto;
  label {
    width: 100%;
    font-weight: bold;
    font-size: .75em;
    text-transform: capitalize;
    margin: $m-margin 0;
  }
  input {
    width: 100%;
    float: right;
    margin-bottom: $m-margin;
    border: 2px solid lightgrey;
  }
  button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: $s-margin;
    color: #fff;
    @include button($dark-salmon);
  }
	@media screen and (min-width: $medium-breakpoint) {
		width: 40%;
		label {
			width: 100%;
			padding-right: $m-margin;
			text-align: center;
			font-size: 16px;
		}
		input {
			width: 100%;
			margin: 0 auto;
			height: 30px;
			border-radius: 5px;
		}
		button {
			width: 40%;
			margin-top: 60px;
		}
	}
}
