
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:sans-serif;
}

/* Remove the outer glow in Webkit */
input:focus, textarea:focus
{
	outline:0;
}
/* End form reset*/
form {
  width: 90%;
  margin: 3% auto;
  label {
    width: 100%;
    font-weight: bold;
    font-size: .75em;
    text-transform: capitalize;
    margin: $m-margin 0;
  }
  input {
    width: 100%;
    float: right;
    margin-bottom: $m-margin;
    border: 2px solid lightgrey;
  }
  button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: $s-margin;
    color: #fff;
    @include button($dark-salmon);
  }
	@media screen and (min-width: $medium-breakpoint) {
		width: 40%;
		label {
			width: 100%;
			padding-right: $m-margin;
			text-align: center;
			font-size: 16px;
		}
		input {
			width: 100%;
			margin: 0 auto;
			height: 30px;
			border-radius: 5px;
		}
		button {
			width: 40%;
			margin-top: 60px;
		}
	}
}

/* Modals */
.message-modal:not(.modal-close) {
	font-family: $black-lato;
}

.message-modal {
	display: none;
	background-color: #fff;
	border: 1px solid grey;
	position: fixed;
	top: 10%;
	left: 5%;
	right: 5%;
	z-index: 2;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	// font-family: $black-lato;
	form {
		width: 90%;
	}
	textarea {
		height: 200px;
		border: 2px solid lightgrey;
		width: 100%;
		margin: $m-margin 0;
	}
	button {
		width: 60%;
		margin: 20px auto 0 auto;
	}
	select {
		border: 1px solid $dark-grey;
		width: 100%;
	}
	.modal-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	@media screen and (min-width: $medium-breakpoint) {
		left: 20%;
		right: 20%;
	}
}

.modal-transparency {
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
