/* Wireframing */

*:not(body):not(html) {
  box-sizing: border-box;
  //border: 1px solid grey;
}
.hero {
  height: 600px;
  background-color: #666;
}

.preview-section {
  height: 300px;
  background-color: #bbb;
}

/* End Wireframing */

/* Base Elements */

body {
  font-family: sans-serif;
  margin: 0;
}

h1, h2, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Lists */

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
